# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: mysql
    database_port: 3306
    database_name: cqrs-ride-share
    database_user: cqrs-ride-share
    database_password: demo
    secret: ThisTokenIsNotSoSecretChangeIt
    elastic_search: http://elastic:changeme@elasticsearch:9200